/* planet/all.html.twig */
.voir {
  margin-left: 40%;
}

.universe {
  background-image: url(https://cdn.wallpapersafari.com/10/63/9enofj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.space {
  background-image: url(https://img.purch.com/rc/1280x800/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA0MC82OTgvb3JpZ2luYWwvZGVlcC1zcGFjZS1sYS1zaWxsYS0xOTIwLmpwZw==);
}

.carousel {
  height: 40rem;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

strong {
  text-decoration: overline;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:hover{
  color: #4b0081;
}

/* LES COULEURS DES CARDS */
.card-planet:nth-child(1){
  background: #cba65b;
}

.card-planet:nth-child(2){
  background: #46769e;
}

.card-planet:nth-child(3){
  background: #f27d47;
}

.card-planet:nth-child(4){
  background: #67374a;
}

.card-planet:nth-child(5){
  background: #7a6549;
}

.card-planet:nth-child(6){
  background: #7cdefe;
}

.card-planet:nth-child(7){
  background: #2057b8;
}

.card-planet:nth-child(8){
  background: #beb3a1;
}

/* LES COULEURS DES CARDS SATELLITES */

.card-satellite:nth-child(1){
  background: #b7a095;
}

.card-satellite:nth-child(2){
  background: #919191;
}

.card-satellite:nth-child(3){
  background: #c9b08f;
}

.card-satellite:nth-child(4){
  background: #ede265;
}

.card-satellite:nth-child(5){
  background: #732a17;
}

.card-satellite:nth-child(6){
  background: #d1c6c6;
}

.card-satellite:nth-child(7){
  background: #e0c1cd;
}