<footer style="background:#4b0081">
    <div class="container">
        <div class="d-flex justify-content-evenly">
            <p class="text-center text-white">© Copyright | Tous droits réservés</p>
        </div>
    </div>
</footer>